asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.2
cloudinary==1.44.1
decouple==0.0.7
dj-database-url==3.0.1
dj3-cloudinary-storage==0.0.6
Django==5.2.5
django-environ==0.12.0
idna==3.10
pillow==11.3.0
python-decouple==3.8
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
gunicorn